<div style="margin-left:30px;margin-top:20px">
	<form class="form-inline">
		<div class="form-group">
			<input type="text" ng-model="search" class="form-control" placeholder="Search">
		</div>
		<div class="button1"  style="float:right;margin-right:30px">
			<button class="btn btn-warning" type="button" ng-click="logoutAdmin()">Logout</button>
		</div>
	</form>
</div>

<div class="container" style="width:100%; margin-top:20px; display:flex;
flex-direction:row;justify-content: center;">

<div style="width:40%; display:inline-block;margin-right:10px">
	<table class="table">
		<thead>
			<tr>
				<th>Employee</th>
			</tr>
		</thead>
		<tbody>
			<tr dir-paginate="employee in employees | filter:search | itemsPerPage:10">
				<td><a href ng-click="fetchProfile(employee.email)" style="display:block;width:100%;text-decoration:none;color:#4d4d4d;">{{ employee.name }}<span style="font-size:12px;
					font-style:italic;float:right">{{ employee.email}}</span></a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div style="width:40%; display:inline-block;margin-left:10px">
		<table class="table">
			<thead>
				<tr>
					<th>
						Profile
					</th>
				</tr>
			</thead>
		</table>
		<div ng-show="showProfile">
			<ul class="list-group">
				<li class="list-group-item"><strong>NAME: </strong>{{ profile.name }}</li>
				<li class="list-group-item"><strong>EMAIL: </strong>{{ profile.email }}</li>
				<li class="list-group-item"><strong>AGE: </strong>{{ profile.age }}</li>
				<li class="list-group-item"><strong>GENDER: </strong>{{ profile.gender }}</li>
				<li class="list-group-item"><strong>SPECIALISATION: </strong>{{ profile.specialisation }}</li>
				<li class="list-group-item"><strong>SKILLS: </strong>{{ profile.skills }}</li>
				<li class="list-group-item"><strong>GRADE: </strong>{{ profile.grade }}</li>
				<li class="list-group-item"><strong>EXPERIENCE: </strong>{{ profile.experience }}</li>
			</ul>
		</div>
	</div>
</div>

<div style="margin-left:200px">
	<dir-pagination-controls
	max-size="5"
	direction-links="true"
	boundary-links="true" >
</dir-pagination-controls>
</div>

<toast>
</toast>