<nav class="navbar navbar-inverse" style="margin-bottom:0;">
  <div class="container-fluid" style="background-color:#3385ff;">
    <div class="navbar-header">
      <a class="navbar-brand" style="color:FFFFFF;" href="#">Employee Space</a>
    </div>
  </div>
</nav>

<div class="jumbotron text-center" style="background-color:#e6e6e6;text-shadow: 3px 3px 3px #aaa"><h2>Admin</h2></div>

<div class="container">
  <form role="form" ng-submit="adminLogin()">
    <div class="width-30" style="width:100%; display: flex; flex-direction:column;">
      <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
          <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="admin.email" autocomplete="on" autofocus required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="admin.password" required>
        </div>
      </div>
      <div class="button-group" style="display:flex; flex-direction:column; align-items:center; justify-content: center;">
        <div class="button1" style="align-self:center;">
          <button type="submit" class="btn btn-primary" style="padding:10px; margin:10px;">Log In</button>
        </div>
      </div>
    </div>
  </form>
</div>

<toast>
</toast>