<nav class="navbar navbar-inverse" style="margin-bottom:0;">
  <div class="container-fluid" style="background-color:#3385ff;">
    <div class="navbar-header">
      <a class="navbar-brand" style="color:FFFFFF;" href="#">Employee Space</a>
    </div>
  </div>
</nav>

<div class="container" style="justify-content:center;display:flex;margin-bottom:50px;margin-top:30px"" >
  <h2 style="font-family: 'Aref Ruqaa', serif;text-shadow: 2px 2px 2px #aaa;">Password Reset</h2>
</div>

<div class="container">
  <form role="form" ng-submit="reset()">
    <div class="width-30" style="width:100%; display: flex; flex-direction:column;">
      <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
          <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email" ng-model="email" autocomplete="on" autofocus required>
        </div>
      </div>
      <div class="button-group" style="display:flex; flex-direction:column; align-items:center; justify-content: center;">
        <div class="button1" style="align-self:center;">
          <button type="submit" class="btn btn-info" style="padding:10px; margin:10px;">Reset Password</button>
        </div>
      </div>
    </div>
  </form>
</div>