<nav class="navbar navbar-inverse" style="margin-bottom:0;">
  <div class="container-fluid" style="background-color:#3385ff;">
    <div class="navbar-header">
      <a class="navbar-brand" style="color:FFFFFF;" href="#">Employee Space</a>
    </div>
  </div>
</nav>

<div class="container" style="justify-content:center;display:flex;margin-bottom:50px;margin-top:30px"" >
  <h1 style="font-family: 'Aref Ruqaa', serif;text-shadow: 3px 3px 3px #aaa;">Log in</h1>
</div>

<div class="container">
  <form role="form" ng-submit="login()">
    <div class="width-30" style="width:100%; display: flex; flex-direction:column;">
      <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
          <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="user.email" autocomplete="on" autofocus required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password" required>
        </div>
      </div>
      <div class="button-group" style="display:flex; flex-direction:column; align-items:center; justify-content: center;">
        <div class="button1" style="align-self:center;">
          <button type="submit" class="btn btn-success" style="padding:10px; margin:10px;">Log In</button>
        </div>
        <div class="button2" style="align-self:center;">
          <button type="button" class="btn btn-primary" ng-click="signup()" style="padding:10px; margin:10px;">Sign Up</button> 
        </div>
      </div>
    </div>
  </form>
</div>
<span us-spinner="{radius:10, width:4, length: 8}" spinner-key="spinner-1"></span>
<toast>
</toast>